body{
    background-color: black;
    color: white;
    text-align: center;
}

.main-title{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.link a {
color: aquamarine;
font-size: 16px;
}

.side-section h1 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

.side-section h3 {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

.advert h1{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

.advert img{
    padding-top: 20px;
}

footer{
    text-align: right;
    color: gray;
    font-size: 20px;
}